.main__wrapper {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.main__wrapper span {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.breadcrumb__wrapper .dash {
  padding-right: 8px;
  color: #808191 !important;
  text-transform: capitalize;
}
.breadcrumb__wrapper .path {
  padding-left: 8px;
}

.main__wrapper .breadcrumb__wrapper {
  display: flex;
  align-items: center;
}

.active {
  color: #307777 !important;
  text-transform: capitalize;
}
