.skeleton {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.skeleton .avatar {
   width: 55px;
   height: 55px;
   border-radius: 50%;
   background-color: #cccccc48; /* Placeholder color */
   margin-right: 15px;
}

.skeleton .content {
   flex-grow: 1;
}

.skeleton .content h5 {
   width: 70%;
   height: 20px;
   background-color: #cccccc48; /* Placeholder color */
   margin-bottom: 10px;
}

.skeleton .content .message {
   width: 100%;
   height: 16px;
   background-color: #cccccc48; /* Placeholder color */
   margin-bottom: 5px;
}

.skeleton .content .timestamp {
   width: 30%;
   height: 16px;
   background-color: #cccccc48; /* Placeholder color */
}
