.forget_password_form {
  border: 1px solid #e6ecf5;
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  padding: 20% 10%;
  margin-bottom: 20px;
  border-radius: 10px;
  /* min-height: 500px; */
}
