.storyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: black;
  border-radius: 5px;
}

.storyBox {
  border-radius: 5px;
  width: 23vw;
  height: 67vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 15%; */
  color: white;
  /* padding: 20px; */
  /* border: 5px solid red; */
  position: relative;
  background-position: center;
}

.storyContent {
  width: 100%;
}

.overflowingText {
  position: absolute;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
}

.overflowingImage {
  position: absolute;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
}

.discardBtton {
  width: 100%;
  border: none;
  color: rgb(27, 24, 24);
  font-weight: 600;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  background-color: #d4d6d6;
  padding: 5px 15px;
}