.tas_post_follower_following_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 53px 45px 0 0;
    gap: 10px;
}

.tas_post_follower_following_add_friend_btn{
    display: inline-flex;
padding: 7px 10px;
flex-direction: row;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: #307777;
color: #FFF !important;
font-family: "Segoe UI";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}

.tas_post_follower_following_friends_btn{
    display: inline-flex;
padding: 7px 10px;
flex-direction: row;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: #E4E6EB;
color: #131313 !important;
font-family: "Segoe UI";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}

.tas_post_follower_following_message_btn{
    display: inline-flex;
padding: 7px 16px 7px 13px;
flex-direction: row;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: #E4E6EB;
color: #050505 !important;
font-family: "Segoe UI";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
border: none;
}

.tas_post_follower_following_dropdown_btn{
    display: inline-flex;
padding: 12px 17px;
align-items: flex-start;
gap: 10px;
border-radius: 6px;
background: #E4E6EB;
border: none;
}